:root {
  /* Primitives: colors */
  --ds-color-vert-luxy-50: #effefd;
  --ds-color-vert-luxy-100: #c7fffa;
  --ds-color-vert-luxy-200: #90fff5;
  --ds-color-vert-luxy-300: #51f7f0;
  --ds-color-vert-luxy-400: #1de4e1;
  --ds-color-vert-luxy-500: #04c8c8;
  --ds-color-vert-luxy-600: #00acb0;
  --ds-color-vert-luxy-700: #057c80;
  --ds-color-vert-luxy-800: #0a6165;
  --ds-color-vert-luxy-900: #0d5154;
  --ds-color-vert-luxy-950: #002e33;
  --ds-color-purple-50: #f3f2ff;
  --ds-color-purple-100: #e9e8ff;
  --ds-color-purple-200: #d6d4ff;
  --ds-color-purple-300: #b7b2ff;
  --ds-color-purple-400: #9486ff;
  --ds-color-purple-500: #7055fd;
  --ds-color-purple-600: #6338f5;
  --ds-color-purple-700: #5020e1;
  --ds-color-purple-800: #431bbc;
  --ds-color-purple-900: #39189a;
  --ds-color-purple-950: #200c69;
  --ds-color-blue-50: #eff7ff;
  --ds-color-blue-100: #dcebfd;
  --ds-color-blue-200: #cee5fd;
  --ds-color-blue-300: #96c9fa;
  --ds-color-blue-400: #64acf6;
  --ds-color-blue-500: #408bf1;
  --ds-color-blue-600: #2a6de6;
  --ds-color-blue-700: #2258d3;
  --ds-color-blue-800: #2248ab;
  --ds-color-blue-900: #214087;
  --ds-color-blue-950: #182953;
  --ds-color-yellow-50: #fefae8;
  --ds-color-yellow-100: #fef4c3;
  --ds-color-yellow-200: #ffe689;
  --ds-color-yellow-300: #fecc38;
  --ds-color-yellow-400: #fbb714;
  --ds-color-yellow-500: #eb9f07;
  --ds-color-yellow-600: #cb7703;
  --ds-color-yellow-700: #a25306;
  --ds-color-yellow-800: #86420d;
  --ds-color-yellow-900: #723611;
  --ds-color-yellow-950: #421a06;
  --ds-color-green-50: #f2fcf1;
  --ds-color-green-100: #d4f8d3;
  --ds-color-green-200: #c0f3bf;
  --ds-color-green-300: #8ee88d;
  --ds-color-green-400: #54d454;
  --ds-color-green-500: #2dba2d;
  --ds-color-green-600: #209920;
  --ds-color-green-700: #1c791d;
  --ds-color-green-800: #1b601b;
  --ds-color-green-900: #184f1a;
  --ds-color-green-950: #082b09;
  --ds-color-red-50: #fff0f0;
  --ds-color-red-100: #ffdfde;
  --ds-color-red-200: #ffc4c3;
  --ds-color-red-300: #ff9b99;
  --ds-color-red-400: #ff625f;
  --ds-color-red-500: #ff322d;
  --ds-color-red-600: #f5140f;
  --ds-color-red-700: #b91c2a;
  --ds-color-red-800: #991b26;
  --ds-color-red-900: #7f1d26;
  --ds-color-red-950: #450a0f;
  --ds-color-orange-50: #fff8ec;
  --ds-color-orange-100: #fff0d3;
  --ds-color-orange-200: #ffdca5;
  --ds-color-orange-300: #ffc26d;
  --ds-color-orange-400: #ff9d32;
  --ds-color-orange-500: #ff7f0a;
  --ds-color-orange-600: #ff6600;
  --ds-color-orange-700: #cc4902;
  --ds-color-orange-800: #a1390b;
  --ds-color-orange-900: #82310c;
  --ds-color-orange-950: #461604;
  --ds-color-neutral-white: #fdfdfd;
  --ds-color-neutral-50: #f5f5f6;
  --ds-color-neutral-100: #e5e5e8;
  --ds-color-neutral-200: #cecfd3;
  --ds-color-neutral-300: #adb0b3;
  --ds-color-neutral-400: #898c92;
  --ds-color-neutral-500: #686b72;
  --ds-color-neutral-600: #595b61;
  --ds-color-neutral-700: #4c4e52;
  --ds-color-neutral-800: #434447;
  --ds-color-neutral-900: #3b3b3e;
  --ds-color-neutral-950: #252627;
  --ds-color-foreground-primary: #252627;
  --ds-color-foreground-secondary: #595b61;
  --ds-color-foreground-brand: #431bbc;
  --ds-color-foreground-primary-invert: #fdfdfd;
  --ds-color-foreground-text-input-placeholder: #898c92;
  --ds-color-foreground-system-danger: #991b26;
  --ds-color-foreground-system-success: #1b601b;
  --ds-color-foreground-system-info: #2248ab;
  --ds-color-foreground-system-warning: #a1390b;
  --ds-color-background-page: #f5f5f6;
  --ds-color-background-layer100: #fdfdfd;
  --ds-color-background-layer200: #f5f5f6;
  --ds-color-background-system-success: #d4f8d3;
  --ds-color-background-system-info: #dcebfd;
  --ds-color-background-system-warning: #fff0d3;
  --ds-color-background-system-danger: #ffdfde;
  --ds-color-background-components-tooltip-default: #182953;
  --ds-color-background-brand-filled-default: #6338f5;
  --ds-color-background-brand-filled-hover: #9486ff;
  --ds-color-background-brand-filled-active: #39189a;
  --ds-color-background-brand-transparent-default: #6338f500;
  --ds-color-background-brand-transparent-hover: #6338f51a;
  --ds-color-background-brand-transparent-active: #6338f566;
  --ds-color-background-brand-gradient-100: #9486ff;
  --ds-color-background-brand-gradient-200: #6338f5;
  --ds-color-background-brand-gradient-300: #431bbc;
  --ds-color-stroke-default: #0000004d;
  --ds-color-stroke-strong: #00000080;
  --ds-color-stroke-light: #00000033;
  --ds-color-stroke-brand: #6338f5;
  --ds-color-stroke-system-danger: #f5140f;
  --ds-color-stroke-system-success: #209920;
  --ds-color-stroke-system-info: #2a6de6;
  --ds-color-stroke-system-warning: #ff6600;
  --ds-color-brand-20: #6338f533;

  /* Primitives: spacing */
  --ds-space-0: 0px;
  --ds-space-0_5: 2px;
  --ds-space-1: 4px;
  --ds-space-2: 8px;
  --ds-space-3: 12px;
  --ds-space-4: 16px;
  --ds-space-5: 20px;
  --ds-space-6: 24px;

  /* Primitives: typography sizes */
  --ds-text-6xl: 60px;
  --ds-text-5xl: 48px;
  --ds-text-4xl: 36px;
  --ds-text-3xl: 30px;
  --ds-text-2xl: 24px;
  --ds-text-xl: 20px;
  --ds-text-base: 16px;
  --ds-text-sm: 14px;
  --ds-text-xs: 12px;

  /* Primitives: radius */
  --ds-radius-none: 0px;
  --ds-radius-sm: 2px;
  --ds-radius-default: 4px;
  --ds-radius-md: 6px;
  --ds-radius-lg: 8px;
  --ds-radius-xl: 12px;
  --ds-radius-2xl: 16px;
  --ds-radius-3xl: 24px;
  --ds-radius-full: 999px;

  /* Primitives: border */
  --ds-border-base: 1px;
  --ds-border-md: 2px;
  --ds-border-lg: 3px;
  --ds-border-xl: 4px;

  /* Primitives: breakpoints */
  --ds-breakpoint-xs: 370px;
  --ds-breakpoint-sm: 640px;
  --ds-breakpoint-md: 768px;
  --ds-breakpoint-lg: 1024px;
  --ds-breakpoint-xl: 1280px;
  --ds-breakpoint-2xl: 1536px;

  /* Primitives: opacity */
  --ds-opacity-disabled: 0.4;

  /* Primitives: shadows */
  --ds-shadow-brand-md: 0px 2px 4px -1px #6338f533, 0px 4px 6px -1px #6338f533;
  --ds-shadow-brand-lg: 0px 4px 6px -2px #6338f533, 0px 10px 15px -3px #6338f533;
  --ds-shadow-neutral-sm: 0px 1px 3px 0px rgba(0,0,0,0.1), 0px 1px 2px 0px rgba(0,0,0,0.06);
  --ds-shadow-neutral-md: 0px 2px 4px -1px #0000000F, 0px 4px 6px -1px #0000001A;
  --ds-shadow-neutral-lg: 0px 4px 6px -2px #0000000D, 0px 10px 15px -3px #0000001A;

  /* Semantics */
  --ds-text-primary: var(--ds-color-foreground-primary);
  --ds-text-secondary: var(--ds-color-foreground-secondary);
  --ds-text-placeholder: var(--ds-color-foreground-text-input-placeholder);
  --ds-text-brand: var(--ds-color-foreground-brand);
  --ds-text-invert: var(--ds-color-foreground-primary-invert);
  --ds-text-danger: var(--ds-color-foreground-system-danger);
  --ds-text-system-success: var(--ds-color-foreground-system-success);
  --ds-text-system-info: var(--ds-color-foreground-system-info);
  --ds-text-system-warning: var(--ds-color-foreground-system-warning);
  --ds-text-system-danger: var(--ds-color-foreground-system-danger);
  --ds-text-success: var(--ds-color-green-700);
  --ds-text-warning: var(--ds-color-yellow-700);
  --ds-text-error: var(--ds-color-red-700);
  --ds-bg-page: var(--ds-color-background-page);
  --ds-bg-layer100: var(--ds-color-background-layer100);
  --ds-bg-layer200: var(--ds-color-background-layer200);
  --ds-bg-system-success: var(--ds-color-background-system-success);
  --ds-bg-system-info: var(--ds-color-background-system-info);
  --ds-bg-system-warning: var(--ds-color-background-system-warning);
  --ds-bg-system-danger: var(--ds-color-background-system-danger);
  --ds-bg-tooltip-default: var(--ds-color-background-components-tooltip-default);
  --ds-bg-brand-filled-default: var(--ds-color-background-brand-filled-default);
  --ds-bg-brand-filled-hover: var(--ds-color-background-brand-filled-hover);
  --ds-bg-brand-filled-active: var(--ds-color-background-brand-filled-active);
  --ds-bg-brand-transparent-default: var(--ds-color-background-brand-transparent-default);
  --ds-bg-brand-transparent-hover: var(--ds-color-background-brand-transparent-hover);
  --ds-bg-brand-transparent-active: var(--ds-color-background-brand-transparent-active);
  --ds-bg-brand-gradient-100: var(--ds-color-background-brand-gradient-100);
  --ds-bg-brand-gradient-200: var(--ds-color-background-brand-gradient-200);
  --ds-bg-brand-gradient-300: var(--ds-color-background-brand-gradient-300);
  --s-background-brand-100: var(--ds-bg-brand-gradient-100);
  --s-background-brand-200: var(--ds-bg-brand-gradient-200);
  --s-background-brand-300: var(--ds-bg-brand-gradient-300);
  --ds-border-default: var(--ds-color-stroke-default);
  --ds-border-strong: var(--ds-color-stroke-strong);
  --ds-border-light: var(--ds-color-stroke-light);
  --ds-border-brand: var(--ds-color-stroke-brand);
  --ds-border-danger: var(--ds-color-stroke-system-danger);
  --ds-border-system-success: var(--ds-color-stroke-system-success);
  --ds-border-system-info: var(--ds-color-stroke-system-info);
  --ds-border-system-warning: var(--ds-color-stroke-system-warning);
  --ds-border-system-danger: var(--ds-color-stroke-system-danger);
  --ds-border-success: var(--ds-color-green-200);
  --ds-border-warning: var(--ds-color-yellow-200);
  --ds-border-error: var(--ds-color-red-200);
  --ds-icon-default: var(--ds-color-foreground-primary);
  --ds-icon-brand: var(--ds-color-foreground-brand);
  --ds-icon-danger: var(--ds-color-foreground-system-danger);
  --ds-icon-success: var(--ds-color-green-700);
  --ds-icon-warning: var(--ds-color-yellow-700);
  --ds-icon-error: var(--ds-color-red-700);
  --ds-bg-success-surface: var(--ds-color-green-100);
  --ds-bg-success-solid: var(--ds-color-green-600);
  --ds-bg-success-hover: var(--ds-color-green-700);
  --ds-bg-success-active: var(--ds-color-green-800);
  --ds-bg-warning-surface: var(--ds-color-yellow-100);
  --ds-bg-warning-solid: var(--ds-color-yellow-600);
  --ds-bg-warning-hover: var(--ds-color-yellow-700);
  --ds-bg-warning-active: var(--ds-color-yellow-800);
  --ds-bg-error-surface: var(--ds-color-red-100);
  --ds-bg-error-solid: var(--ds-color-red-600);
  --ds-bg-error-hover: var(--ds-color-red-700);
  --ds-bg-error-active: var(--ds-color-red-800);
  --ds-focus-ring-color: var(--ds-color-stroke-brand);
  --ds-focus-ring-width: var(--ds-border-md);

  /* Semantics: typography */
  --ds-typography-heading-6xl-font-family: "DM Sans";
  --ds-typography-heading-6xl-font-weight: 600;
  --ds-typography-heading-6xl-font-size: var(--ds-text-6xl);
  --ds-typography-heading-6xl-line-height: var(--ds-text-6xl);
  --ds-typography-heading-5xl-font-family: "DM Sans";
  --ds-typography-heading-5xl-font-weight: 600;
  --ds-typography-heading-5xl-font-size: var(--ds-text-5xl);
  --ds-typography-heading-5xl-line-height: var(--ds-text-5xl);
  --ds-typography-heading-4xl-font-family: "DM Sans";
  --ds-typography-heading-4xl-font-weight: 600;
  --ds-typography-heading-4xl-font-size: var(--ds-text-4xl);
  --ds-typography-heading-4xl-line-height: var(--ds-text-4xl);
  --ds-typography-heading-3xl-font-family: "DM Sans";
  --ds-typography-heading-3xl-font-weight: 600;
  --ds-typography-heading-3xl-font-size: var(--ds-text-3xl);
  --ds-typography-heading-3xl-line-height: var(--ds-text-4xl);
  --ds-typography-heading-2xl-font-family: "DM Sans";
  --ds-typography-heading-2xl-font-weight: 600;
  --ds-typography-heading-2xl-font-size: var(--ds-text-2xl);
  --ds-typography-heading-2xl-line-height: var(--ds-text-4xl);
  --ds-typography-heading-xl-font-family: "DM Sans";
  --ds-typography-heading-xl-font-weight: 600;
  --ds-typography-heading-xl-font-size: var(--ds-text-xl);
  --ds-typography-heading-xl-line-height: var(--ds-text-2xl);
  --ds-typography-paragraph-quote-font-family: "DM Sans";
  --ds-typography-paragraph-quote-font-style: italic;
  --ds-typography-paragraph-quote-font-weight: 500;
  --ds-typography-paragraph-quote-font-size: var(--ds-text-xl);
  --ds-typography-paragraph-quote-line-height: var(--ds-text-3xl);
  --ds-typography-paragraph-base-bold-font-family: "DM Sans";
  --ds-typography-paragraph-base-bold-font-weight: 700;
  --ds-typography-paragraph-base-bold-font-size: var(--ds-text-base);
  --ds-typography-paragraph-base-bold-line-height: var(--ds-text-2xl);
  --ds-typography-paragraph-base-regular-font-family: "DM Sans";
  --ds-typography-paragraph-base-regular-font-weight: 400;
  --ds-typography-paragraph-base-regular-font-size: var(--ds-text-base);
  --ds-typography-paragraph-base-regular-line-height: var(--ds-text-2xl);
  --ds-typography-paragraph-base-italic-font-family: "DM Sans";
  --ds-typography-paragraph-base-italic-font-style: italic;
  --ds-typography-paragraph-base-italic-font-weight: 400;
  --ds-typography-paragraph-base-italic-font-size: var(--ds-text-base);
  --ds-typography-paragraph-base-italic-line-height: var(--ds-text-2xl);
  --ds-typography-paragraph-number-bold-font-family: "Inter";
  --ds-typography-paragraph-number-bold-font-weight: 600;
  --ds-typography-paragraph-number-bold-font-size: var(--ds-text-base);
  --ds-typography-paragraph-number-bold-line-height: var(--ds-text-2xl);
  --ds-typography-paragraph-number-regular-font-family: "Inter";
  --ds-typography-paragraph-number-regular-font-weight: 400;
  --ds-typography-paragraph-number-regular-font-size: var(--ds-text-base);
  --ds-typography-paragraph-number-regular-line-height: var(--ds-text-2xl);
  --ds-typography-paragraph-sm-bold-font-family: "DM Sans";
  --ds-typography-paragraph-sm-bold-font-weight: 600;
  --ds-typography-paragraph-sm-bold-font-size: var(--ds-text-sm);
  --ds-typography-paragraph-sm-bold-line-height: var(--ds-text-xl);
  --ds-typography-paragraph-sm-regular-font-family: "DM Sans";
  --ds-typography-paragraph-sm-regular-font-weight: 400;
  --ds-typography-paragraph-sm-regular-font-size: var(--ds-text-sm);
  --ds-typography-paragraph-sm-regular-line-height: var(--ds-text-xl);
  --ds-typography-paragraph-xs-bold-font-family: "DM Sans";
  --ds-typography-paragraph-xs-bold-font-weight: 600;
  --ds-typography-paragraph-xs-bold-font-size: var(--ds-text-xs);
  --ds-typography-paragraph-xs-bold-line-height: var(--ds-text-base);
  --ds-typography-paragraph-xs-regular-font-family: "DM Sans";
  --ds-typography-paragraph-xs-regular-font-weight: 500;
  --ds-typography-paragraph-xs-regular-font-size: var(--ds-text-xs);
  --ds-typography-paragraph-xs-regular-line-height: var(--ds-text-base);

  /* Components: button */
  --ds-button-size-default-radius: var(--ds-radius-xl);
  --ds-button-size-default-padding-x: var(--ds-space-5);
  --ds-button-size-default-padding-y: var(--ds-space-3);
  --ds-button-size-default-gap: var(--ds-space-2);
  --ds-button-size-small-radius: var(--ds-radius-lg);
  --ds-button-size-small-padding-x: var(--ds-space-4);
  --ds-button-size-small-padding-y: var(--ds-space-2);
  --ds-button-size-small-gap: var(--ds-space-2);
  --ds-button-color-default-bg: var(--ds-bg-brand-filled-default);
  --ds-button-color-default-text: var(--ds-text-invert);
  --ds-button-color-hover-bg: var(--ds-bg-brand-filled-hover);
  --c-button-filled-hover-background: radial-gradient(
    ellipse 140% 120% at 50% 30%,
    var(--s-background-brand-100) 0%,
    var(--s-background-brand-200) 65%,
    var(--s-background-brand-300) 100%
  );
  --ds-button-color-hover-bg-gradient: var(--c-button-filled-hover-background);
  --ds-button-color-hover-text: var(--ds-text-invert);
  --ds-button-color-hover-shadow: var(--ds-shadow-brand-lg);
  --ds-button-color-pressed-bg: var(--ds-bg-brand-filled-active);
  --ds-button-color-pressed-text: var(--ds-text-invert);
  --ds-button-color-disabled-bg: var(--ds-bg-brand-filled-default);
  --ds-button-color-disabled-text: var(--ds-text-invert);
  --ds-button-color-disabled-opacity: var(--ds-opacity-disabled);
  --ds-button-outline-default-bg: var(--ds-bg-brand-transparent-default);
  --ds-button-outline-default-text: var(--ds-text-brand);
  --ds-button-outline-default-border-width: var(--ds-border-base);
  --ds-button-outline-default-border-color: var(--ds-border-brand);
  --ds-button-outline-hover-bg: var(--ds-bg-brand-transparent-hover);
  --ds-button-outline-hover-text: var(--ds-text-brand);
  --ds-button-outline-hover-border-width: var(--ds-border-md);
  --ds-button-outline-hover-border-color: var(--ds-border-brand);
  --ds-button-outline-hover-shadow: var(--ds-shadow-brand-lg);
  --ds-button-outline-pressed-bg: var(--ds-bg-brand-transparent-active);
  --ds-button-outline-pressed-text: var(--ds-text-brand);
  --ds-button-outline-pressed-border-width: var(--ds-border-base);
  --ds-button-outline-pressed-border-color: var(--ds-border-brand);
  --ds-button-outline-disabled-bg: var(--ds-bg-brand-transparent-default);
  --ds-button-outline-disabled-text: var(--ds-text-brand);
  --ds-button-outline-disabled-border-width: var(--ds-border-base);
  --ds-button-outline-disabled-border-color: var(--ds-border-brand);
  --ds-button-outline-disabled-opacity: var(--ds-opacity-disabled);
  --ds-button-text-default-bg: var(--ds-bg-brand-transparent-default);
  --ds-button-text-default-text: var(--ds-text-brand);
  --ds-button-text-hover-bg: var(--ds-bg-brand-transparent-hover);
  --ds-button-text-hover-text: var(--ds-text-brand);
  --ds-button-text-pressed-bg: var(--ds-bg-brand-transparent-active);
  --ds-button-text-pressed-text: var(--ds-text-brand);
  --ds-button-text-disabled-bg: var(--ds-bg-brand-transparent-default);
  --ds-button-text-disabled-text: var(--ds-text-brand);
  --ds-button-text-disabled-opacity: var(--ds-opacity-disabled);

  /* Components: input */
  --ds-input-radius: var(--ds-radius-xl);
  --ds-input-padding-x: var(--ds-space-4);
  --ds-input-padding-y: var(--ds-space-3);
  --ds-input-gap: var(--ds-space-4);
  --ds-input-default-bg: var(--ds-color-neutral-white);
  --ds-input-default-border-width: var(--ds-border-base);
  --ds-input-default-border-color: var(--ds-border-default);
  --ds-input-default-label: var(--ds-text-secondary);
  --ds-input-default-text: var(--ds-text-placeholder);
  --ds-input-default-helper: var(--ds-text-secondary);
  --ds-input-hover-bg: var(--ds-color-neutral-white);
  --ds-input-hover-border-width: var(--ds-border-base);
  --ds-input-hover-border-color: var(--ds-border-strong);
  --ds-input-hover-label: var(--ds-text-primary);
  --ds-input-hover-text: var(--ds-text-primary);
  --ds-input-hover-helper: var(--ds-text-secondary);
  --ds-input-active-bg: var(--ds-color-neutral-white);
  --ds-input-active-border-width: var(--ds-border-md);
  --ds-input-active-border-color: var(--ds-border-brand);
  --ds-input-active-label: var(--ds-text-secondary);
  --ds-input-active-text: var(--ds-text-primary);
  --ds-input-active-helper: var(--ds-text-secondary);
  --ds-input-filled-bg: var(--ds-color-neutral-white);
  --ds-input-filled-border-width: var(--ds-border-base);
  --ds-input-filled-border-color: var(--ds-border-strong);
  --ds-input-filled-label: var(--ds-text-secondary);
  --ds-input-filled-text: var(--ds-text-primary);
  --ds-input-filled-helper: var(--ds-text-secondary);
  --ds-input-error-bg: var(--ds-color-neutral-white);
  --ds-input-error-border-width: var(--ds-border-base);
  --ds-input-error-border-color: var(--ds-border-danger);
  --ds-input-error-label: var(--ds-text-danger);
  --ds-input-error-text: var(--ds-text-primary);
  --ds-input-error-helper: var(--ds-text-danger);
  --ds-input-disabled-bg: var(--ds-color-neutral-50);
  --ds-input-disabled-border-width: var(--ds-border-base);
  --ds-input-disabled-border-color: var(--ds-border-default);
  --ds-input-disabled-label: var(--ds-text-secondary);
  --ds-input-disabled-text: var(--ds-text-placeholder);
  --ds-input-disabled-helper: var(--ds-text-secondary);
  --ds-input-disabled-opacity: var(--ds-opacity-disabled);
  --ds-input-disabled-filled-bg: var(--ds-color-neutral-50);
  --ds-input-disabled-filled-border-width: var(--ds-border-base);
  --ds-input-disabled-filled-border-color: var(--ds-border-strong);
  --ds-input-disabled-filled-label: var(--ds-text-secondary);
  --ds-input-disabled-filled-text: var(--ds-text-primary);
  --ds-input-disabled-filled-helper: var(--ds-text-secondary);
  --ds-input-disabled-filled-opacity: var(--ds-opacity-disabled);
  --ds-input-readonly-bg: transparent;
  --ds-input-readonly-border-width: 0px;
  --ds-input-readonly-border-color: transparent;
  --ds-input-readonly-label: var(--ds-text-secondary);
  --ds-input-readonly-text: var(--ds-text-primary);

  /* Components: card */
  --ds-card-sm-radius: var(--ds-radius-lg);
  --ds-card-sm-padding: var(--ds-space-3);
  --ds-card-sm-gap: var(--ds-space-3);
  --ds-card-md-radius: var(--ds-radius-lg);
  --ds-card-md-padding: var(--ds-space-4);
  --ds-card-md-gap: var(--ds-space-4);
  --ds-card-lg-radius: var(--ds-radius-lg);
  --ds-card-lg-padding: var(--ds-space-6);
  --ds-card-lg-gap: var(--ds-space-4);
  --ds-card-bg: var(--ds-bg-layer100);
  --ds-card-border-color: var(--ds-border-light);
  --ds-card-border-width: var(--ds-border-base);
}
